@media (min-width: 320px) and (max-width: 530px) {
  .header_container {
    width: 15rem !important;
    padding: 35px !important;
  }
  .titre_h1 {
    font-size: 20px;
  }
  #liste_element {
    font-size: 14px;
  }

  .label_text {
    font-size: 15px !important;
  }

  .toggle_container {
    right: 37% !important;
  }
}
