@media (min-width: 320px) and (max-width: 530px) {
  .titre_h1 {
    font-size: 20px;
  }
  #liste_element {
    font-size: 14px;
  }

  .label_text {
    font-size: 15px !important;
  }

  .toggle_container {
    right: 37% !important;
  }

  .app_container {
    display: block !important;
  }
  .header_container {
    width: 100%;
    height: 100%;
  }
}
