@import url("utils/variables.css");

/* Styles pour le bouton */
.btn_container {
  position: fixed;
  bottom: 10px;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn {
  background-color: var(--couleur_secondaire);
  color: var(--couleur_tertiaire);
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

/* Style pour le symbole + */
.btn::before {
  content: "+";
  font-size: 50px;
}
