.header_container {
  width: 97%;
  height: 100%;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  border-bottom: 2px solid var(--couleur_secondaire);
}

.titre_h1 {
  color: var(--couleur_titre_h1);
  position: relative;
}

.app_container {
  transition: background-color 0.25s ease-in-out;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  width: 100%;
  height: 100%;
}
