@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("./styles/utils/variables.css");

* {
  text-decoration: none;
  font-family: "Nunito", "arial";
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: var(--couleur_tertiaire);
}

.dark_mode {
  background-color: var(--couleur_primaire_dark);
}
